@font-face {
    font-family: "MyFont";
    src: url("../fonts/Lovelyn.ttf") format("truetype");
}

@font-face {
    font-family: 'ContentFont';
    src: url('../fonts/Caudex.ttf') format('truetype');
}

body {
    font-family: 'ContentFont', sans-serif;
    background-color: rgb(255, 246, 234);
    background-image: linear-gradient(140deg, #ffeeee, #ddefbb);
    background-image: url("../images/background_bot.avif");
    background-repeat: no-repeat;
    background-size: cover;
}

.fdiv {
    font-family: 'MyFont', sans-serif;
}

.question-card {
    background-color: #fff;
    padding: 40px;
    margin: 50px 40px 50px 40px;

    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.symptom-option-container {
    /* display: flex; */
    align-items: center;
    /* Align items vertically in the center */
}

.maindiv {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

.SubmitButton {
    background-color: rgb(233, 245, 255);
    margin: 20px;
    padding: 12px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.SubmitButton:hover {
    background-color: white;
}